<table>
  <thead>
  <tr>
    <th>Camera</th>
    <th>Title</th>
    <th>Description</th>
  </tr>
  </thead>

      <tr>
        <td><%=@post.camera %></td>
        <td><%=@post.title %></td>
        <td><%=@post.desc %></td>

      </tr>

</table>